In [1]:
var = input("msg")
var

msgAHmed

'AHmed'

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [3]:
import random

random_integer = random.randint(0, 10)
random_integer

6

In [4]:
listo = []
for i in range(50):
    random_integer = random.randint(0, 10)
    listo.append(random_integer)
listo

[9,
 6,
 4,
 6,
 3,
 6,
 8,
 9,
 4,
 10,
 1,
 0,
 10,
 6,
 4,
 9,
 2,
 7,
 6,
 6,
 5,
 3,
 10,
 4,
 8,
 9,
 10,
 8,
 7,
 0,
 5,
 3,
 3,
 3,
 9,
 7,
 6,
 7,
 3,
 6,
 6,
 10,
 3,
 2,
 9,
 5,
 2,
 9,
 6,
 2]

In [5]:
num = int(input("please enter number of elements: "))
listo = [random.randint(0, 10) for i in range(num)]
listo

please enter number of elements: 50

[6,
 0,
 4,
 1,
 3,
 10,
 2,
 2,
 8,
 5,
 0,
 1,
 10,
 10,
 1,
 3,
 10,
 4,
 2,
 8,
 6,
 6,
 7,
 1,
 9,
 5,
 9,
 5,
 5,
 5,
 3,
 5,
 8,
 5,
 2,
 1,
 4,
 3,
 4,
 7,
 4,
 1,
 2,
 5,
 4,
 10,
 3,
 3,
 7,
 7]

In [6]:
var = 3
isinstance(var, int)

True

In [7]:
type(var) == int

True

In [8]:
var = 3.0
type(var)

float

In [9]:
var = True
type(var) == bool

True

In [10]:
bool(5)

True

In [11]:
5 % 2

1

In [12]:
6 % 2

0

In [13]:
num = 6
if num % 2 == 0:
    print("even number")
else:
    print("odd number")

even number

In [14]:
8 % 7

1

In [15]:
1000 // 30

33

In [16]:
33 // 12

2

In [17]:
33 % 12

9

In [18]:
num

6

In [19]:
if num + 4 == 10:
    print("it's bigger than five")

it's bigger than five

In [20]:
num == 5

False

In [21]:
name = 'Ahmed Ayman'
for i in range(len(name)):
    if name[i].lower() == 'a':
        print("there exsist an a in my name")
        break

there exsist an a in my name

In [22]:
listo = [random.randint(0, 10) for i in range(50)]
listo

[4,
 10,
 2,
 2,
 8,
 7,
 4,
 8,
 4,
 1,
 4,
 0,
 6,
 6,
 8,
 1,
 6,
 5,
 8,
 9,
 8,
 9,
 3,
 7,
 1,
 3,
 2,
 10,
 3,
 5,
 4,
 9,
 3,
 7,
 2,
 10,
 2,
 10,
 4,
 0,
 7,
 2,
 5,
 4,
 1,
 3,
 1,
 9,
 6,
 2]

In [23]:
sorted(listo)

[0,
 0,
 1,
 1,
 1,
 1,
 1,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 3,
 3,
 3,
 3,
 3,
 4,
 4,
 4,
 4,
 4,
 4,
 4,
 5,
 5,
 5,
 6,
 6,
 6,
 6,
 7,
 7,
 7,
 7,
 8,
 8,
 8,
 8,
 8,
 9,
 9,
 9,
 9,
 10,
 10,
 10,
 10]

In [24]:
my_set = {1, 2, 3}
my_set.discard(2) 
my_set

{1, 3}

In [25]:
dicto = {"one":1, "two":2}
dicto['three'] = 3
del dicto['three']
# dicto.pop('three')}
# dicto.popitem() # delete last item
dicto

{'one': 1, 'two': 2}

In [26]:
# exception handling

try:
    5/0
    int("Ahmed")
except ZeroDivisionError:
    print("don\'t divide by zero")
except ValueError:
    print("don\'t make bad casting")

don't divide by zero

In [27]:
while True:
    try:
        var = int(input())
    except ZeroDivisionError:
        print("don\'t divide by zero")
    except ValueError:
        print("please put numbers only")
    else:
        break
print(var)

Ahmed
please put numbers only
0
0

In [28]:
fd = open('TEST.txt', mode='r+', encoding='utf-8')
fd.read()
fd.write("عمر")
fd.seek(0)
fd.read()

'احمد\ntestعمرعمرعمر'

In [29]:
fd.close()
del fd

In [30]:
listo = list("Ahmed")
for i in range(len(listo)):
    listo[i] = listo[i].lower()
listo

['a', 'h', 'm', 'e', 'd']

In [31]:
def lower_name_into_list(name):
    listo = list(name)
    for i in range(len(listo)):
        listo[i] = listo[i].lower()
    return listo

lower_name_into_list('Ahmed')

['a', 'h', 'm', 'e', 'd']

In [32]:
lower_name_into_list('Mohamed')

['m', 'o', 'h', 'a', 'm', 'e', 'd']

In [33]:
list(zip([1, 2, 3], ['1', '2']))

[(1, '1'), (2, '2')]

In [34]:
def multiply_by_2(arg):
    return arg * 2

l1 = [1, 2, 3]
list(map(lambda arg: arg * 2, l1))

[2, 4, 6]

In [35]:
def filter_by_2(arg):
    return arg == 2 or arg == 4

l1 = [1, 2, 3, 2, 2, 4]
list(filter(filter_by_2, l1))

[2, 2, 2, 4]

In [36]:
l1 = [1, 2.0, 3, 'Ahmed']

def get_floats(arg):
    if type(arg) == float:
        return True
    else:
        return False
    
list(filter(get_floats, l1))

[2.0]

In [37]:
from functools import reduce
l1 = [1, 2, 3]

def smallest_number(arg1, arg2):
    if arg1 < arg2:
        return arg1
    else:
        return arg2
    
reduce(smallest_number, l1)

1

In [38]:
# OOP

class Person:
    def __init__(self, name, age):
        self.name = name
        self.__age = age
    
    def whoAmI(self):
        print(f"I\'m a {str(self)}")
        
    def __str__(self):
        return "Person"
        
    def set_age(self, age):
        self.__age = age
    
    def get_age(self):
        return self.__age
    
    def my_sum(self, arg):
        return arg + arg

In [39]:
p1 = Person("Ahmed", 27)
p1.set_age(24)
p1.get_age()

24

In [40]:
p1.my_sum(10)

20

In [41]:
class Student(Person):
    
    def __init__(self, name, age, course_name, identifer):
        Person.__init__(self, name, age)
        self.id = identifer
        self.course_name = course_name
        
    def is_big(self):
        if self.get_age() >= 50:
            return True
        else:
            return False
    
    def whoAmI(self):
        print("I\'m a Student")
        
    def my_sum(self, arg1, arg2):
        return arg1 + arg2

In [42]:
s1 = Student("Ahmed", 27, 'python', 1806171)
s1.whoAmI()

I'm a Student

In [43]:
p1.whoAmI()

I'm a Person

In [44]:
s1.my_sum(10, 20)

30